# Express Server Configuration
PORT=3000

# CognoDB Connection Settings
# Retrieve these from your console.cognodb.com account
COGNODB_URI=bolt+s://<instance-id>.databases.cognodb.cloud
COGNODB_USERNAME=cognodb
COGNODB_PASSWORD=your_generated_password
